{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros with context %}

{% block entire_content %}
<header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
            <div class="site-heading">
              <h1>Lite Blog</h1>
              <span class="subheading">A clean, lite blog system to record your's think</span>
            </div>
        </div>
      </div>
</header>
{% endblock %}

{% block page_content %}
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if article_type ==''  %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        <li{% if article_type =='python' %} class="active"{% endif %}><a href="{{ url_for('.show_python') }}">Python</a></li>
        <li{% if article_type =='golang' %} class="active"{% endif %}><a href="{{ url_for('.show_golang') }}">Golang</a></li>
        <li{% if article_type =='nodejs' %} class="active"{% endif %}><a href="{{ url_for('.show_nodejs') }}">Nodejs</a></li>
        <li{% if article_type =='bk' %} class="active"{% endif %}><a href="{{ url_for('.show_bk') }}">BlockChain</a></li>
        <li{% if article_type =='cloud' %} class="active"{% endif %}><a href="{{ url_for('.show_cloud') }}">Cloud Compute</a></li>
        <li{% if article_type =='deploy' %} class="active"{% endif %}><a href="{{ url_for('.show_deploy') }}">Deploy</a></li>
        <li{% if article_type =='other' %} class="active"{% endif %}><a href="{{ url_for('.show_other') }}">Other</a></li>
    </ul>
    {% include '_posts.html' %}
</div>

{% if pagination %}
    <div class="pagination" >
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>
{% endif %}

{% endblock %}
